/.nyc_output
/coverage
/lib
/node_modules
/tests/fixtures/**/*.json
/tests/fixtures/**/*.astro
/explorer-v3/dist
/explorer-v3/build
/explorer-v3/build-system/shim/astro-eslint-parser/*.*
/explorer-v3/build-system/shim/escape-string-regexp/*.*
/explorer-v3/build-system/shim/eslint-scope/*.*
/explorer-v3/build-system/shim/eslint/*.*
