<!-- copied from https://github.com/ota-meshi/eslint-plugin-astro/issues/257 -->
<template id="suggest-template" is:raw>
    {{#.}}
       <a href="/">
         <div class="truncate">{{title}}</div>
       </a>
    {{/.}}
 </template>