---

---

<html lang="en">
	<head>
		<meta name="description" content="あいうえおかきくけこさし" />
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
<style is:global>
	body {
		background-color: red;
	}
</style>
