---
import Header from './Header.astro';
import Logo from './Logo.astro';
import Footer from './Footer.astro';

const { name } = Astro.props
---
<div id="content-wrapper">
  <Header />
  <Logo />
  <h1>{name}</h1>
  <slot>
    <p>This is my fallback content, if there is no child passed into slot</p>
  </slot>
  <Footer />
</div>
