---
const rawHTMLString = "Hello <strong>World</strong>"
---
<h1>{rawHTMLString}</h1> 
  <!-- Output: <h1>Hello &lt;strong&gt;World&lt;/strong&gt;</h1> -->
<h1 set:html={rawHTMLString} /> 
  <!-- Output: <h1>Hello <strong>World</strong></h1> -->
